$default_transition: all .1s ease-out;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #fbfbfb;
	font-family: "IBM Plex Sans", Arial, sans-serif;
}

h1 {
	font-weight: 600;
}

h3 {
	margin-bottom: 40px;
}

.button {
	display: table;
	padding: 12px 15px;
    margin-bottom: 10px;
	background: #0063ff;
	color: #fff;
	border: none;
	font-size: 15px;
    text-decoration: none;
}

// Carbon overrides
$due_blue: #0063ff;

.bx--btn--primary {
	background: $due_blue;
	outline: none !important;
    border: none !important;

	&:hover {
		background: #0059e4;
	}

	&:active {
		background: #003992;
	}
}

.bx--overflow-menu-options {
	outline: none;
}

header.m-demo-header {
	margin-bottom: 20px;
	padding: 50px 0;
	text-align: center;

	div {
		&.logo {
			border-radius: 20px;
			border: 1px solid #cad3e0;
			width: 100px;
			height: 100px;
			margin: auto;
			margin-bottom: 15px;

			img {
				width: 75px;
				height: 75px;
				margin-top: 12.5px;
			}
		}

		&.content {
			width: 80%;
			max-width: 800px;
			margin: auto;

			div.links {
				display: table;
				margin: auto;

				.bx--btn {
					float: left;
					margin-right: 5px;

					&.last {
						margin-right: 0;
					}

					svg {
						margin-right: 5px;

						&.angular {
							width: 22px;
							height: 22px;
						}

						&.react {
							width: 25px;
							height: 25px;
							margin-left: -5px;
						}

						&.vue {
							width: 18px;
							height: 18px;
						}
					}
				}
			}
		}

		h1 {
			margin-bottom: 5px;
		}
	}
}

.chart-type-selection {
	display: inline;
	line-height: 50px;
	li {
		color: white;
		cursor: pointer;
		background-color: #009BEF;
		display: inline;
		padding: 5px 10px;
		margin: 5px;
		min-width: 50px;
	}
	.active {
		background-color: #FFB000;
	}
	.disabled {
		background-color: #959595;
		cursor: not-allowed;
	}
}

.demo-chart-holder {
	background-color: #fff;
	box-shadow: 0 15px 34px -11px rgba(22, 56, 107, 0.1);
	margin: 0 auto 60px auto;
	display: block;
	height: 500px;
	min-width: 300px;
	max-width: 800px;
	padding: 30px;
	transition: box-shadow .1s ease-out;
	overflow: hidden;
	resize: both;
	font-weight: 400;

	h3 {
		border-bottom: 1px solid lightgray;
		margin: 0;
	}

	&:hover {
		box-shadow: 0 15px 45px -11px rgba(22, 56, 107, 0.15);
		transition: box-shadow .1s ease-out;
	}

	&:last-child {
		margin-bottom: 30px;
	}

	&.has-actions {
		margin: auto;
	}
}

.chart-demo-actions {
	display: table;
	width: 100%;
	min-width: 300px;
	max-width: 800px;
	margin: auto;
	margin-top: -1px;
	margin-bottom: 45px;
	overflow: hidden;

	button {
		float: left;
	}
}

div.experimental-switch {
	display: table;
    width: 100%;
	max-width: 800px;
	margin: auto;
	margin-bottom: 30px;
	padding: 30px;
	padding-bottom: 0;
	background-color: #fff;
    box-shadow: 0 15px 34px -11px rgba(22, 56, 107, 0.1);
}
