$default_transition: all .1s ease-out;

* {
	box-sizing: border-box;
}

body {
	font-family: "IBM Plex Sans", Arial, sans-serif;
}

h1 {
	font-weight: 500;
}

h3 {
	margin-bottom: 40px;
}

.button {
	display: table;
	padding: 12px 15px;
    margin-bottom: 10px;
	background: #0063ff;
	color: #fff;
	border: none;
	font-size: 15px;
    text-decoration: none;
}

// Carbon overrides
$due_blue: #0063ff;
.bx--btn--primary {
	background: $due_blue;
	outline: none !important;
    border: none !important;

	&:hover {
		background: #0059e4;
	}

	&:active {
		background: #003992;
	}
}

.bx--overflow-menu-options {
	outline: none;
}

// .btn--icon-white {
// 	background: $due_blue;
// }

// .btn-group--lg .btn--primary + .btn--primary-addon {
//     margin-left: 0;
// }

// .btn--primary-addon, .btn--primary {
// 	background: $due_blue;
// 	border-color: $due_blue;
// }

html,
body {
	margin: 0;
	background: #f4f7fa;
}

header.m-demo-header {
	margin-bottom: 20px;
	padding: 50px 0;
	text-align: left;

	div {
		width: 80%;
		max-width: 800px;
		margin: auto;

		h1 {
			margin-bottom: 5px;
		}
	}
}

.chart-type-selection {
	display: inline;
	line-height: 50px;
	li {
		color: white;
		cursor: pointer;
		background-color: #009BEF;
		display: inline;
		padding: 5px 10px;
		margin: 5px;
		min-width: 50px;
	}
	.active {
		background-color: #FFB000;
	}
	.disabled {
		background-color: #959595;
		cursor: not-allowed;
	}
}

.resizable {
	resize: both;
}
.demo-title {
	margin-top: 20px;
}
.chart-holder {
	border: 1px solid rgba(24, 62, 117, 0.2);
	box-shadow: 0 15px 34px -11px rgba(22, 56, 107, 0.1);
	margin: 0 auto 60px auto;
	display: block;
	height: 500px;
	min-width: 300px;
	max-width: 800px;
	position: relative;
	transition: box-shadow .1s ease-out;
	// tmp
	overflow: hidden;
	resize: both;
	//
	font-weight: 400;

	h3 {
		border-bottom: 1px solid lightgray;
		margin: 0;
	}

	&:hover {
		box-shadow: 0 15px 45px -11px rgba(22, 56, 107, 0.15);
		transition: box-shadow .1s ease-out;
	}

	&:last-child {
		margin-bottom: 30px;
	}

	&.has-actions {
		margin: auto;
	}
}

.chart-demo-actions {
	display: table;
	width: 100%;
	min-width: 300px;
	max-width: 800px;
	margin: auto;
	margin-top: -1px;
	margin-bottom: 45px;
	overflow: hidden;

	button {
		float: left;
	}
}

.chart-title {
	display: block;
	font-size: 16px;
	font-weight: bold;
}

#classy-bar-chart-holder {
	overflow: hidden;
	resize: both;
}

div.code {
	display: block;
	min-width: 300px;
	max-width: 800px;
	margin: auto;
	margin-bottom: 60px;

	ul[role="tablist"] li:first-child {
		margin-left: 0;
	}

	div.tabs-panel {
		pre.demo-code {
			overflow: scroll;
		}
	}
}

// Matter styles
ul.btn_menu {
	display: none !important;

	&.visible {
		display: block !important;
	}
}

svg.icon--white-sm {
	* {
		fill: white;
	}

	&.flipped-y {
		transform: rotate(180deg);
	}
}
