@import "../src/styles/vendor/@carbon/elements/scss/themes/mixins";

body {
	overflow-y: scroll;
	margin: 0;
}

div.container {
	font-family: "IBM Plex Sans", Arial, sans-serif;
	padding: 30px;

	&.theme--white {
		@import "../src/styles/styles-white.scss";

		@include carbon--theme($carbon--theme--white) {
			color: $text-01;
			background-color: $ui-background;
			line-height: 1;
		}
	}

	&.theme--g10 {
		@import "../src/styles/styles-g10.scss";

		@include carbon--theme($carbon--theme--g10) {
			color: $text-01;
			background-color: $ui-background;
			line-height: 1;
		}
	}

	&.theme--g90 {
		@import "../src/styles/styles-g90.scss";

		@include carbon--theme($carbon--theme--g90) {
			color: $text-01;
			background-color: $ui-background;
			line-height: 1;

			.bx--radio-button__appearance {
				background-color: transparent;
				border-color: $icon-01;
			}

			.bx--radio-button:checked
			+ .bx--radio-button__label
			.bx--radio-button__appearance {
				border-color: $icon-01;

				&:before {
					background-color: $icon-01;

					// Allow the selected button to be seen in Windows HCM for IE/Edge
					@media screen and (-ms-high-contrast: active) {
					  	// Utilize a system color variable to accomodate any user HCM theme
						background-color: windowText;
					}
				}
			}
		}
	}

	&.theme--g100 {
		@import "../src/styles/styles-g100.scss";

		@include carbon--theme($carbon--theme--g100) {
			color: $text-01;
			background-color: $ui-background;
			line-height: 1;

			.bx--radio-button__appearance {
				background-color: transparent;
				border-color: $icon-01;
			}

			.bx--radio-button:checked
			+ .bx--radio-button__label
			.bx--radio-button__appearance {
				border-color: $icon-01;

				&:before {
					background-color: $icon-01;

					// Allow the selected button to be seen in Windows HCM for IE/Edge
					@media screen and (-ms-high-contrast: active) {
						// Utilize a system color variable to accomodate any user HCM theme
						background-color: windowText;
					}
				}
			}
		}
	}

	@import "../src/styles/vendor/carbon-components/scss/globals/grid/grid";
	@import "../src/styles/vendor/carbon-components/scss/components/tag/tag";
	@import "../src/styles/vendor/carbon-components/scss/components/radio-button/radio-button";

	.bx--grid {
		padding: 0;

		.bx--row .chart-demo {
			margin-bottom: 60px;
		}
	}

	h3 {
		font-weight: 700;

		b.component {
			margin-right: 10px;
		}

		span.bx--tag.component-name {
			font-size: 19px;
			padding: 16px 10px;
			border-radius: .8rem;
		}
	}

	div.theme-picker {
		margin-top: 15px;
	}

	p.props {
		b {
			font-weight: 700;
		}
	}

	// Replace with Carbon .scss imports
	.bx--snippet--multi {
		background-color: black;
		color: white;

		pre {
			-moz-tab-size: 4;
			tab-size: 4;
		}

		.bx--snippet-container pre::after {
			display: none;
		}

		.token.tag {
			color: #6ea6ff;
		}

		.token.attr-name {
			color: #92eeee;
		}

		.token.attr-value {
			color: #bb8eff;
		}
	}

	.bx--snippet--multi .bx--snippet-container pre code {
		font-size: 14px;
	}

	.bx--snippet--multi.bx--snippet--expand .bx--snippet-container, .bx--snippet--multi.bx--snippet--expand .bx--snippet-container pre {
		padding-bottom: 0;
	}

	.marginTop {
		margin-top: 10px;

		&-15 {
			margin-top: 15px;
		}

		&-30 {
			margin-top: 30px;
		}
	}
}
