@use '@carbon/styles';
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/theme';

@import '../src/styles/styles.scss';

:root {
  @include styles.theme(styles.$white);
}

[data-carbon-theme='g10'] {
  @include styles.theme(styles.$g10);
}

[data-carbon-theme='g90'] {
  @include styles.theme(styles.$g90);
}

[data-carbon-theme='g100'] {
  @include styles.theme(styles.$g100);
}

div.container {
  color: theme.$text-primary;
  background-color: theme.$background;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  padding: 30px;

  &.theme--white {
    // @import '../src/styles/styles-white.scss';

    // @include carbon--theme($carbon--theme--white) {
    // 	color: $text-primary;
    // 	background-color: $background;
    // 	line-height: 1;

    // 	@import './resource-card.scss';
    // }
  }

  &.theme--g10 {
    // @import '../src/styles/styles-g10.scss';

    // @include carbon--theme($carbon--theme--g10) {
    // 	color: $text-primary;
    // 	background-color: $background;
    // 	line-height: 1;

    // 	@import './resource-card.scss';

    // 	// @include modal;
    // 	// @include overflow-menu;
    // 	// @include data-table-core;
    // 	// @include select;
    // }
  }

  &.theme--g90 {
    // @import '../src/styles/styles-g90.scss';

    // @include carbon--theme($carbon--theme--g90) {
    // 	color: $text-primary;
    // 	background-color: $background;
    // 	line-height: 1;

    // 	@import './resource-card.scss';

    // 	// @include modal;
    // 	// @include overflow-menu;
    // 	// @include data-table-core;
    // 	// @include select;

    // 	.cds--radio-button__appearance {
    // 		background-color: transparent;
    // 		border-color: $icon-01;
    // 	}

    // 	.cds--radio-button:checked
    // 		+ .cds--radio-button__label
    // 		.cds--radio-button__appearance {
    // 		border-color: $icon-01;

    // 		&:before {
    // 			background-color: $icon-01;

    // 			// Allow the selected button to be seen in Windows HCM for IE/Edge
    // 			@media screen and (-ms-high-contrast: active) {
    // 				// Utilize a system color variable to accomodate any user HCM theme
    // 				background-color: windowText;
    // 			}
    // 		}
    // 	}
    // }
  }

  &.theme--g100 {
    // @import '../src/styles/styles-g100.scss';

    // @include carbon--theme($carbon--theme--g100) {
    // 	color: $text-primary;
    // 	background-color: $background;
    // 	line-height: 1;

    // 	@import './resource-card.scss';

    // 	// @include modal;
    // 	// @include overflow-menu;
    // 	// @include data-table-core;
    // 	// @include select;

    // 	.cds--radio-button__appearance {
    // 		background-color: transparent;
    // 		border-color: $icon-01;
    // 	}

    // 	.cds--radio-button:checked
    // 		+ .cds--radio-button__label
    // 		.cds--radio-button__appearance {
    // 		border-color: $icon-01;

    // 		&:before {
    // 			background-color: $icon-01;

    // 			// Allow the selected button to be seen in Windows HCM for IE/Edge
    // 			@media screen and (-ms-high-contrast: active) {
    // 				// Utilize a system color variable to accomodate any user HCM theme
    // 				background-color: windowText;
    // 			}
    // 		}
    // 	}
    // }
  }

  div#color-palette-picker {
    max-width: 18rem;
  }

  &.theme--g90,
  &.theme--g100 {
    .cds--label {
      color: #fff;
      opacity: 0.6;
    }

    a {
      color: #78a9ff;
    }
  }

  #chart-demo {
    max-width: 700px;
  }

  .cds--grid {
    padding: 0;

    .cds--row .chart-demo {
      margin-bottom: 60px;
    }
  }

  h3 {
    margin: 0;
    font-weight: 700;

    b.component {
      margin-right: 10px;
    }

    span.cds--tag.component-name {
      font-size: 0.55em;
      vertical-align: middle;
      padding: 0.25em 1em;
      border-radius: 1em;
      font-weight: 600;
    }
  }

  div.theme-picker {
    margin-top: 15px;
  }

  p.props {
    b {
      font-weight: 700;
    }
  }

  // Replace with Carbon .scss imports
  div.cds--snippet--multi {
    background-color: black;
    color: white;

    pre {
      padding: 2em !important;
      -moz-tab-size: 4;
      tab-size: 4;
      line-height: 1.4;
    }

    .cds--snippet-container pre::after {
      display: none;
    }

    .token.tag {
      color: #6ea6ff;
    }

    .token.attr-name {
      color: #92eeee;
    }

    .token.attr-value {
      color: #bb8eff;
    }
  }

  .cds--snippet--multi .cds--snippet-container pre code {
    font-size: 14px;
  }

  .cds--snippet--multi.cds--snippet--expand .cds--snippet-container,
  .cds--snippet--multi.cds--snippet--expand .cds--snippet-container pre {
    padding-bottom: 0;
  }

  div.demo-desktop-only {
    @media screen and (max-width: 768px) {
      position: relative;
      overflow: hidden;

      &:before {
        content: ' ';
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        background: #f4f4f4;
        width: 100%;
        height: 100%;
      }
    }

    div.cp-message {
      display: none;

      @media screen and (max-width: 768px) {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  &.intro {
    padding: 0;

    .container-welcome {
      padding: 0 !important;
    }

    .welcome__container {
      width: 100vw;
      min-height: 100vh;
      padding: 3rem;
      padding-bottom: 5rem;
      background-color: #000;

      @media screen and (max-width: 768px) {
        &:before {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.45);
          content: ' ';
          z-index: 1;
        }
      }
    }

    .welcome__content {
      position: relative;
      z-index: 2;
    }

    .welcome__heading {
      // @include type-style('productive-heading-07');

    //   color: $inverse-01;
    }

    .welcome__heading--subtitle {
      font-weight: 600;
    }

    .welcome__heading--other {
      // @include type-style('productive-heading-04');

      font-weight: 600;
      color: #4587fd;
    }

    h5 {
      margin-top: 2em;
    }

    span.netlify {
      position: fixed;
      left: 0;
      bottom: 0;
      padding: 1em 1.5em;
      padding-left: 3rem;
      border-top-right-radius: 2em;
      font-size: 13px;
      vertical-align: middle;
      background-color: #292929;
      color: #bcbcbc;

      a {
        color: #fff;
        font-weight: 700;
      }
    }
  }

  &.tutorial {
    @import '~highlight.js/styles/sunburst.css';

    h1,
    h2,
    h5,
    p {
      margin-bottom: 15px;
    }

    ul,
    pre {
      margin-bottom: 30px;
    }

    h5 {
      margin-top: 30px;
    }

    ul {
      padding-inline-start: 15px;
      list-style: disc;

      li {
        margin-bottom: 0.5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    code {
      border-radius: 4px;
      background-color: #e0e0e0;
      color: #161616;
      padding: 0 0.5em;
    }

    pre {
      background-color: black;
      color: white;
      padding: 15px;
      margin-top: 15px;
      -moz-tab-size: 4;
      tab-size: 4;
      font-size: 14px;
      line-height: 1.4;

      code {
        background-color: unset;
        color: white;
        padding: 0;
      }
    }
  }

  .marginTop {
    margin-top: 10px;

    &-15 {
      margin-top: 15px;
    }

    &-30 {
      margin-top: 30px;
    }

    &-45 {
      margin-top: 45px;
    }
  }

  hr {
    margin-bottom: 75px;
    margin-top: 25px;
  }
}
