@import "assets/scss/scss-utils";
@import "~@peretz/matter/scss/matter.scss";

.n-chart-container {
	height: 500px;
    max-width: 750px;
    width: 100%;
}

n-side-nav-group.active {
	dt {
		background: #2d74db;
	}
}
