.chart-holder {
	border: 1px solid #ECEEEF;
	box-shadow: 1px 1px 2px grey;
	margin: 30px auto;
	display: block;
	padding: 20px 30px 100px;
	height: 400px;
	width: 50%;

	h3 {
		border-bottom: 1px solid lightgray;
		margin: 0;
	}

	svg {
		overflow: initial;
		.inner-wrap {
			width: 100%;
		}
		circle:hover {
			filter: drop-shadow( -5px -5px 5px #000 );
		}
	}
}

.chart-wrapper {
	width: 100%;
	height: 100%;
	position: relative;

	svg {
		overflow: visible;
	}
}

.chart-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.legend {
	float: right;
	margin: 10px 20px;
	color: #586464;
	overflow: hidden;
	white-space: nowrap;
	.expand-btn {
		background-color: rgb(65, 120, 190);
		color: white;
		margin-left: 10px;
		padding: 0 4px;
		position: absolute;
		right: 0;
		top: 10px;
	}
}

.legendBtn {
	display: inline-block;
	line-height: 20px;
	font-size: 12px;

	span {
		display: inline;
	}
	text {
		max-width: 100px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: inherit;
	}
}

.legend-circle {
	display: inherit;
	height: 10px;
	width: 10px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 5px 5px 15px;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.legend-tooltip, .chart-tooltip {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
	display: block;
	font-size: 12px;
	position: absolute;
	padding: 10px 20px 10px 10px;
	border-top: 2px solid #4178BE;

	.close-btn {
		color: #586464;
		font-size: 12px;
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px;
	}
}

.legend-tooltip {
	padding: 0;
	width: 200px;
	h2 {
		background: #4178BE;
		color: white;
		padding: 10px;
		margin: 0;
	}
	.legendBtn {
		display: flex;
		padding: 10px 0;
	}
	.legend-circle {
		margin: 5px 5px 5px 15px;
	}
	text {
		max-width: none;
	}
	.close-btn {
		color: white;
		font-size: 25px;
	}
}


.right-legend {
	position: absolute;
	right: 0;
	overflow: auto;
	white-space: inherit;
	text {
		text-overflow: initial;
		overflow: inherit;
	}
	.legend-circle {
		margin: 0 5px 0 15px;
	}
}
