.chart-wrapper {
	width: 100%;
	height: 100%;
	position: relative;

	svg {
		overflow: visible !important;
	}
	.legend {
		float: right;
		margin: 10px 20px;
		color: #586464;
		overflow: hidden;
		padding-left: 0;
		white-space: nowrap;
		.expand-btn {
			background-color: rgb(65, 120, 190);
			color: white;
			margin-left: 10px;
			padding: 0 4px;
			position: absolute;
			right: 0;
			top: 10px;
		}
	}

	.legend-btn {
		display: inline-block;
		line-height: 20px;
		font-size: 12px;
		margin-bottom: 0;
		span {
			display: inline;
		}
		text {
			max-width: 100px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: inherit;
		}
	}

	.legend-circle {
		display: inherit;
		height: 10px;
		width: 10px;
		-moz-border-radius: 50%;
		border-radius: 50%;
		margin: 0 5px 5px 15px;
		box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  /*&:hover {
		  box-shadow: 0 0 0 15px hsl(0, 0%, 90%);
		}*/
	}

	.label-tooltip {
		word-wrap: break-word;
	}

	.legend-tooltip {
		padding: 0;
		width: 200px;
		.legend-tooltip-header {
			background: #4178BE;
			color: white;
			font-size: 15px;
			font-weight: 700;
			padding: 10px;
			margin: 0;
		}
		.legend-btn {
			display: inline-block;
			width: 100%;
		}
		text {
			max-width: 160px;
		}
		button {
			position: absolute;
			top: 7px;
			right: 10px;
		}
		.legend-tooltip-content {
			padding-left: 0;
			margin-top: 1rem;
		}
	}

	.right-legend {
		position: absolute;
		right: 0;
		overflow: auto;
		margin: 30px 0;
		max-width: 30%;
		padding-left: 0;
		white-space: inherit;
		text {
			text-overflow: initial;
			overflow: inherit;
		}
		.legend-btn {
			width: 100%;
			text-indent: -.7em;
		}
		.legend-circle {
			margin: 0 15px;
		}
	}

	.axis {
		text {
			fill: #586464;
		}
	}

	.arrow {
		position: absolute;
	}

	.arrow-up {
	  width: 0;
	  height: 0;
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-bottom: 11px solid black;
	}

	.arrow-down {
	  width: 0;
	  height: 0;
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-top: 11px solid #f00;
	}

	.arrow-right {
	  width: 0;
	  height: 0;
	  border-top: 10px solid transparent;
	  border-bottom: 10px solid transparent;
	  border-left: 11px solid white;
	  right: -10px;
	  top: 10px;
	}

	.arrow-left {
	  width: 0;
	  height: 0;
	  border-top: 10px solid transparent;
	  border-bottom: 10px solid transparent;
	  border-right: 10px solid white;
		left: -9px;
		top: 9px;
	}
}

.tooltip {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
	display: block;
	font-size: 12px;
	position: absolute;
	padding: 10px 20px 10px 10px;
	border-top: 2px solid #4178BE;
	max-width: 200px;
	z-index: 1059;
	.close-btn {
		color: #586464;
		font-size: 12px;
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px;
	}
	.close--xs {
		position: absolute;
		right: 5px;
		top: 5px;
	}
}

.chart-tooltip {
	width: 200px;
}

