# Global
**/node_modules/
**/*.log

# Root-level of monorepo
.vscode/
.yarn/cache
pages/
# yarn-offline-mirror-cache/

# Package-level
**/.angular/
**/.DS_Store
**/.svelte-kit/
**/dist/
**/demo/bundle/
