# Global
**/node_modules/
**/*.log

# Yarn items to not include in repo as they are rebuilt by yarn install
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Lerna
.nx/cache

# Published Storybook websites for GitHub Pages
pages/

# Package-level
**/.angular/
**/.DS_Store
**/.svelte-kit/
**/build/
**/dist/
**/demo/bundle/
