* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #f3f3f3;
  font-family: "IBM Plex Sans", Arial, sans-serif; }

header.m-demo-header {
  margin-bottom: 20px;
  padding: 50px 0;
  text-align: center; }
  header.m-demo-header div.logo {
    border-radius: 20px;
    border: 1px solid #cad3e0;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 15px; }
    header.m-demo-header div.logo img {
      width: 75px;
      height: 75px;
      margin-top: 12.5px; }
  header.m-demo-header div.content {
    width: 80%;
    max-width: 800px;
    margin: auto; }
    header.m-demo-header div.content div.links {
      display: table;
      margin: auto; }
      header.m-demo-header div.content div.links .bx--btn {
        float: left;
        margin-right: 5px;
        max-height: 30px;
        padding-right: 15px; }
        header.m-demo-header div.content div.links .bx--btn.last {
          margin-right: 0; }
        header.m-demo-header div.content div.links .bx--btn svg {
          margin-right: 5px; }
          header.m-demo-header div.content div.links .bx--btn svg.angular {
            width: 22px;
            height: 22px; }
          header.m-demo-header div.content div.links .bx--btn svg.react {
            width: 25px;
            height: 25px;
            margin-left: -5px; }
          header.m-demo-header div.content div.links .bx--btn svg.vue {
            width: 18px;
            height: 18px; }
  header.m-demo-header div h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px; }
  header.m-demo-header div h3 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 45px; }

.chart-type-selection {
  display: inline;
  line-height: 50px; }
  .chart-type-selection li {
    color: white;
    cursor: pointer;
    background-color: #009bef;
    display: inline;
    padding: 5px 10px;
    margin: 5px;
    min-width: 50px; }
  .chart-type-selection .active {
    background-color: #ffb000; }
  .chart-type-selection .disabled {
    background-color: #959595;
    cursor: not-allowed; }

.demo-chart-holder {
  margin: 0 auto 60px auto;
  display: block;
  height: 500px;
  min-width: 300px;
  min-height: 300px;
  max-width: 800px;
  padding: 30px;
  overflow: hidden;
  resize: both;
  font-weight: 400; }
  .demo-chart-holder h3 {
    border-bottom: 1px solid lightgray;
    margin: 0; }
  .demo-chart-holder:last-child {
    margin-bottom: 30px; }
  .demo-chart-holder.has-actions {
    margin: auto; }

.chart-demo-actions {
  display: table;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  margin-top: -1px;
  margin-bottom: 45px;
  overflow: hidden; }
  .chart-demo-actions button {
    float: left; }

div.options {
  display: table;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px;
  background-color: #fff; }

body.carbon--dark-g100 {
  background-color: #020202; }

@keyframes skeleton {
  0% {
    width: 0%;
    left: 0;
    right: auto;
    opacity: 0.3; }
  20% {
    width: 100%;
    left: 0;
    right: auto;
    opacity: 1; }
  28% {
    width: 100%;
    left: auto;
    right: 0; }
  51% {
    width: 0%;
    left: auto;
    right: 0; }
  58% {
    width: 0%;
    left: auto;
    right: 0; }
  82% {
    width: 100%;
    left: auto;
    right: 0; }
  83% {
    width: 100%;
    left: 0;
    right: auto; }
  96% {
    width: 0%;
    left: 0;
    right: auto; }
  100% {
    width: 0%;
    left: 0;
    right: auto;
    opacity: 0.3; } }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--text-truncate--end {
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--text-truncate--front {
    width: 100%;
    display: inline-block;
    direction: rtl;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown__wrapper--inline {
    display: inline-grid;
    align-items: center;
    grid-template: auto auto / auto min-content;
    grid-gap: 0.25rem; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown__wrapper--inline .bx--label {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.125rem;
      letter-spacing: 0.16px; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown__wrapper--inline .bx--label,
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown__wrapper--inline .bx--form__helper-text,
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown__wrapper--inline .bx--form-requirement {
      margin: 0; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown__wrapper--inline .bx--form-requirement {
      grid-column: 2; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    outline: 2px solid transparent;
    outline-offset: -2px;
    position: relative;
    list-style: none;
    display: block;
    background-color: #282828;
    border: none;
    border-bottom: 1px solid #6f6f6f;
    width: 100%;
    height: 2.5rem;
    cursor: pointer;
    color: #f3f3f3;
    outline: 2px solid transparent;
    transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9); }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown > *,
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown > *:before,
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown > *:after {
      box-sizing: inherit; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown:focus {
      outline: 2px solid #ffffff;
      outline-offset: -2px; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown:hover {
      background-color: #353535; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--open {
    border-bottom-color: #3d3d3d; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--invalid {
    outline: 2px solid #fb4b53;
    outline-offset: -2px; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--invalid .bx--dropdown-text {
      padding-right: 3.5rem; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--invalid + .bx--form-requirement {
      display: inline-block;
      max-height: 12.5rem;
      color: #fb4b53; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown__invalid-icon {
    position: absolute;
    top: 50%;
    right: 2.5rem;
    fill: #fb4b53;
    transform: translateY(-50%); }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--open:hover {
    background-color: #282828; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--open:focus {
    outline: 1px solid transparent; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--open .bx--dropdown-list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--light {
    background-color: #3d3d3d; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--up .bx--dropdown-list {
    bottom: 2rem; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown__arrow {
    fill: #f3f3f3;
    position: absolute;
    right: 1rem;
    top: 0.8125rem;
    pointer-events: none;
    transition: transform 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
    transform-origin: 50% 45%; }
  body.carbon--dark-g100 .bx--dropdown__wrapper button.bx--dropdown-text {
    background: none;
    border: none;
    width: 100%;
    text-align: left; }
    body.carbon--dark-g100 .bx--dropdown__wrapper button.bx--dropdown-text:focus {
      outline: 2px solid #ffffff;
      outline-offset: -2px; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.16px;
    display: block;
    height: 2.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 2.625rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    outline: 2px solid transparent;
    outline-offset: -2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.16px;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    position: absolute;
    z-index: 9100;
    max-height: 0;
    transition: max-height 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
    overflow: hidden auto; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-list > *,
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-list > *:before,
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-list > *:after {
      box-sizing: inherit; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown:not(.bx--dropdown--open)
.bx--dropdown-item {
    visibility: hidden; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-item {
    transition: visibility 70ms cubic-bezier(0.2, 0, 0.38, 0.9), opacity 70ms cubic-bezier(0.2, 0, 0.38, 0.9), background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
    opacity: 0;
    visibility: inherit; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-item:hover {
      background-color: #353535; }
      body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-item:hover + .bx--dropdown-item .bx--dropdown-link {
        border-color: transparent; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-item:active {
      background-color: #3d3d3d; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-item:first-of-type .bx--dropdown-link {
      border-top-color: transparent; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-item:last-of-type .bx--dropdown-link {
    border-bottom: none; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-link {
    outline: 2px solid transparent;
    outline-offset: -2px;
    display: block;
    height: 2.5rem;
    color: #bebebe;
    text-decoration: none;
    font-weight: normal;
    line-height: 1rem;
    padding: 0.6875rem 0;
    margin: 0 1rem;
    border: 1px solid transparent;
    border-top-color: #3d3d3d;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-link:hover {
      color: #f3f3f3;
      border-color: transparent; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--focused,
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-link:focus {
    outline: 2px solid #ffffff;
    outline-offset: -2px;
    margin: 0;
    padding: 0.6875rem 1rem; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-item:hover .bx--dropdown-link {
    border-bottom-color: #353535; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--selected {
    display: none; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--open .bx--dropdown__arrow {
    transform: rotate(-180deg); }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--open .bx--dropdown-list {
    max-height: 15rem;
    transition: max-height 110ms cubic-bezier(0, 0, 0.38, 0.9); }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--open .bx--dropdown-item {
    opacity: 1; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--disabled {
    border-bottom-color: transparent;
    cursor: not-allowed; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--disabled:hover {
      background-color: #282828; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--disabled:focus {
      outline: none; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--disabled .bx--dropdown-text {
      color: #3d3d3d; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--disabled .bx--dropdown__arrow {
      fill: #3d3d3d; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--disabled.bx--dropdown--light:hover {
      background-color: #3d3d3d; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--auto-width {
    width: auto;
    max-width: 25rem; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline {
    justify-self: start;
    display: inline-block;
    border-bottom-color: transparent;
    width: auto;
    height: 2rem;
    background-color: #171717;
    transition: background 70ms cubic-bezier(0, 0, 0.38, 0.9); }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline:hover {
      background-color: #353535; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline.bx--dropdown--disabled {
      background-color: #171717; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline .bx--dropdown__arrow {
      top: 0.5rem;
      right: 0.5rem; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline.bx--dropdown--open {
    background-color: transparent; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline .bx--dropdown-text {
    display: inline-block;
    padding: 0.4375rem 2rem 0.4375rem 0.75rem;
    height: 2rem;
    overflow: visible;
    color: #f3f3f3; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline.bx--dropdown--disabled
.bx--dropdown-text {
    color: #3d3d3d; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline.bx--dropdown--disabled:focus
.bx--dropdown-text {
    outline: 0; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline.bx--dropdown--invalid
.bx--dropdown__invalid-icon {
    right: 2rem; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline.bx--dropdown--invalid
.bx--dropdown-text {
    padding-right: 3.5rem; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline.bx--dropdown--open:focus
.bx--dropdown-list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline .bx--dropdown-link {
    font-weight: normal;
    margin-right: 0.75rem;
    margin-left: 0.625rem; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown--inline .bx--dropdown-link:focus {
      margin: 0;
      padding-left: 0.625rem; }
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-v2.bx--skeleton,
  body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown.bx--skeleton {
    position: relative;
    border: none;
    padding: 0;
    box-shadow: none;
    pointer-events: none;
    background: #353535; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-v2.bx--skeleton:hover, body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-v2.bx--skeleton:focus, body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-v2.bx--skeleton:active,
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown.bx--skeleton:hover,
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown.bx--skeleton:focus,
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown.bx--skeleton:active {
      border: none;
      outline: none;
      cursor: default; }
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown-v2.bx--skeleton:before,
    body.carbon--dark-g100 .bx--dropdown__wrapper .bx--dropdown.bx--skeleton:before {
      content: '';
      width: 0%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #3d3d3d;
      animation: 3000ms ease-in-out skeleton infinite; }
  body.carbon--dark-g100 div.content {
    color: #f3f3f3; }
  body.carbon--dark-g100 div.options {
    background: #171717; }

body.carbon--dark-g90 {
  background-color: #171717; }

@keyframes skeleton {
  0% {
    width: 0%;
    left: 0;
    right: auto;
    opacity: 0.3; }
  20% {
    width: 100%;
    left: 0;
    right: auto;
    opacity: 1; }
  28% {
    width: 100%;
    left: auto;
    right: 0; }
  51% {
    width: 0%;
    left: auto;
    right: 0; }
  58% {
    width: 0%;
    left: auto;
    right: 0; }
  82% {
    width: 100%;
    left: auto;
    right: 0; }
  83% {
    width: 100%;
    left: 0;
    right: auto; }
  96% {
    width: 0%;
    left: 0;
    right: auto; }
  100% {
    width: 0%;
    left: 0;
    right: auto;
    opacity: 0.3; } }
  body.carbon--dark-g90 .bx--dropdown__wrapper .bx--text-truncate--end {
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  body.carbon--dark-g90 .bx--dropdown__wrapper .bx--text-truncate--front {
    width: 100%;
    display: inline-block;
    direction: rtl;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  body.carbon--dark-g90 div.content {
    color: #f3f3f3; }
  body.carbon--dark-g90 div.options {
    background: #282828; }

body.carbon--dark-g10 {
  background-color: #ffffff; }
  body.carbon--dark-g10 div.content {
    color: #171717; }
  body.carbon--dark-g10 div.options {
    background: #f3f3f3; }


/*# sourceMappingURL=index.css.map*/