.bx--cc--axes g.axis g.tick text {
  fill: #bebebe;
  font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif; }

.bx--cc--axes g.axis g.tick line {
  display: none; }

.bx--cc--axes g.axis path.domain {
  stroke: #6f6f6f; }

.bx--cc--chart-svg g.callouts {
  stroke: #bebebe; }

.bx--cc--grid rect.chart-grid-backdrop {
  fill: #171717;
  stroke: #3d3d3d; }

.bx--cc--grid g.x.grid g.tick line,
.bx--cc--grid g.y.grid g.tick line {
  pointer-events: none;
  stroke-width: 1px;
  stroke: #3d3d3d; }

.bx--cc--grid g.x.grid g.tick.active line,
.bx--cc--grid g.y.grid g.tick.active line {
  stroke-dasharray: 2px;
  stroke: #ffffff; }

.bx--cc--horizontal-zero-line line.domain {
  stroke: #6f6f6f; }

.bx--cc--chart-svg svg.layout-child {
  overflow: visible; }

g.bx--cc--legend {
  user-select: none; }
  g.bx--cc--legend g.legend-item rect.checkbox {
    stroke-width: 1px;
    stroke-opacity: 1; }
    g.bx--cc--legend g.legend-item rect.checkbox:not(.active) {
      stroke: #bebebe;
      fill: #171717; }
    g.bx--cc--legend g.legend-item rect.checkbox:not(.active) ~ g.check {
      display: none; }
  g.bx--cc--legend g.legend-item rect.hover-stroke {
    fill: none;
    stroke: #0062ff;
    stroke-width: 2; }
  g.bx--cc--legend g.legend-item g.check > svg path {
    fill: #171717;
    stroke: #171717; }
  g.bx--cc--legend g.legend-item text {
    font-size: 12px;
    fill: #bebebe; }
  g.bx--cc--legend.clickable g.legend-item:hover {
    cursor: pointer; }

.bx--cc--title text.title {
  fill: #f3f3f3;
  font-size: 16px;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600; }

.bx--cc--tooltip {
  background-color: #3d3d3d;
  pointer-events: none;
  transition: opacity .1s;
  transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1);
  display: inline;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  word-wrap: break-word;
  z-index: 1059;
  font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif; }
  .bx--cc--tooltip.hidden {
    opacity: 0;
    transition: opacity .1s;
    transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1); }
  .bx--cc--tooltip .content-box {
    color: #f3f3f3; }
    .bx--cc--tooltip .content-box .title-tooltip {
      line-height: 16px;
      font-size: 12px;
      padding: 4px;
      min-width: 20px; }
    .bx--cc--tooltip .content-box .datapoint-tooltip, .bx--cc--tooltip .content-box .total-val {
      display: flex;
      padding: 4px;
      flex-flow: row nowrap;
      width: auto;
      min-width: 20px;
      justify-content: flex-start;
      align-items: center; }
      .bx--cc--tooltip .content-box .datapoint-tooltip p, .bx--cc--tooltip .content-box .total-val p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 16px;
        font-size: 12px;
        display: inline-block;
        margin: 0;
        padding: 0;
        border: 0; }
        .bx--cc--tooltip .content-box .datapoint-tooltip p.label, .bx--cc--tooltip .content-box .total-val p.label {
          flex: 1;
          margin-right: 8px; }
        .bx--cc--tooltip .content-box .datapoint-tooltip p.value, .bx--cc--tooltip .content-box .total-val p.value {
          width: auto; }
    .bx--cc--tooltip .content-box .total-val {
      font-weight: 600; }
      .bx--cc--tooltip .content-box .total-val .label {
        margin-left: 4px; }
    .bx--cc--tooltip .content-box ul.multi-tooltip {
      margin: 0;
      padding: 0; }
      .bx--cc--tooltip .content-box ul.multi-tooltip li {
        list-style: none;
        position: relative; }
        .bx--cc--tooltip .content-box ul.multi-tooltip li:not(:last-child) {
          margin-bottom: 2px; }
  .bx--cc--tooltip .tooltip-color {
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%; }
    .bx--cc--tooltip .tooltip-color + p.label {
      margin-left: 4px; }

.bx--cc--line path.line {
  pointer-events: none;
  fill: none;
  stroke-width: 1.5; }

g.bx--cc--scatter circle.dot.hovered {
  fill-opacity: 1;
  transition: all .1s;
  transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1); }

g.bx--cc--scatter circle.dot.unfilled {
  fill: #282828;
  stroke-width: 1.5; }

g.bx--cc--scatter g.lines path.line {
  mix-blend-mode: multiply; }

svg.bx--cc--chart-svg {
  font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif; }
  svg.bx--cc--chart-svg text {
    font-size: 12px;
    font-weight: 400;
    fill: #bebebe; }

.bx--chart-holder {
  position: relative;
  display: block;
  background-color: #171717; }

svg.bx--cc--chart-svg {
  overflow: visible; }


/*# sourceMappingURL=styles-g100.css.map*/