@import '../../vendor/carbon-components/scss/globals/scss/vars';
@import '../../vendor/@carbon/themes/scss/tokens';
@import '../../vendor/@carbon/layout/scss/spacing';
@import '../../vendor/@carbon/type/scss/font-face/sans';
@import '../../vendor/carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/import-once/import-once';
@import '../../vendor/carbon-components/scss/globals/scss/_helper-mixins';

@include exports('network-card') {
	.#{$prefix}--network-card {
		cursor: pointer;
		font-family: carbon--font-family("sans");
	}

	.#{$prefix}--network-card__background {
		fill: $ui_01;

		&:focus {
			@include focus-outline();
		}
	}

	.#{$prefix}--network-card__stroke {
		fill: $ui_01;
	}

	.#{$prefix}--network-card__icon-path {
		fill: $icon-01;
		transform: translate($spacing_05,$spacing_04);
	}

	.#{$prefix}--network-card__content {
		transform: translate(carbon--mini-units(6.5),$spacing_05);
		pointer-events: none;

		// Nesting BEM elements to prevent catching global text styles
		text.#{$prefix}--network-card__heading {
			@include carbon--type-style($name: productive-heading-01);
			fill: $text_01;
			transform: translate(0,$spacing_03);
		}

		text.#{$prefix}--network-card__subheading {
			@include carbon--type-style($name: body-short-01);
			fill: $text_01;
			transform: translate(0,carbon--mini-units(3.75));
		}
	}


	// Active state modifier
	.#{$prefix}--active {
		.#{$prefix}--network-card__background {
			fill: $inverse_02;
			stroke: $inverse_02;
		}

		.#{$prefix}--network-card__heading {
			fill: $inverse_01;
		}

		.#{$prefix}--network-card__subheading {
			fill: $inverse_01;
		}
	}

	// Kind modifier
	.#{$prefix}--network-card--warning {
		.#{$prefix}--network-card__stroke {
			fill: $support_03;
		}
	}

	.#{$prefix}--network-card--error {
		.#{$prefix}--network-card__stroke {
			fill: $support_01;
		}
	}
}
