@use '@carbon/styles/scss/theme' as *;

$lines-bg-color: $layer-accent-01;
$lines-shimmer-color: $white-0;
$areas-bg-color: rgba(127, 127, 127, 0.1);
$areas-shimmer-color: rgba($white-0, 0.15);

.#{$prefix}--#{$charts-prefix}--skeleton-lines {
	// lines
	rect.chart-skeleton-backdrop {
		fill: $grid-bg;
	}

	.shimmer-effect-lines {
		stroke-width: 1px;
	}

	.shimmer-effect-sparkline {
		stroke-width: 0px;
	}

	.empty-state-lines {
		stroke-width: 1px;
		stroke: $lines-bg-color;
	}

	.shimmer-lines {
		.stop-bg-shimmer {
			stop-color: $lines-bg-color;
		}

		.stop-shimmer {
			stop-color: $lines-shimmer-color;
		}
	}
}
