.graph-tile {
	margin-right: 1px;
	margin-bottom: 1px;
}

.graph-tile-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.graph-tile-title {
	font-size: 0.75rem;
	color: black;
}

.graph-tile-svg {
	height: 15rem;
	width: 15rem;
}
