.page-header {
	padding-top: 4rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	margin-left: -2rem;
	margin-right: -2rem;
	margin-top: -2rem;
	margin-bottom: 2rem;
}

.page-header-title {
	font-size: 4.5rem;
}
