.page-header {
	padding-top: 4rem;
	padding-bottom: 3rem;
	padding-left: 3rem;
	margin-left: -3rem;
	margin-right: -3rem;
	margin-top: -3rem;
	margin-bottom: 3rem;
}

.page-header-title {
	font-size: 4.5rem;
}
