.chart-wrapper {

	.left-legend {
		position: relative;
		float: left;
		overflow: auto;
		margin: 0;
		max-width: 30%;
		padding-right: 30px;
		white-space: inherit;
		text {
			padding-left: 15px;
		}
		.legend-btn {
			width: 100%;
			text-indent: -.7em;
			text {
				float:right;
				max-width: 90%;
			}
		}
		.legend-circle {
			float: right;
			margin: 5px;
		}
	}

}



