div.marker-cluster {
	background: #8857d0;
    border-radius: 50%;
	color: #fff;
	transition: all .1s ease-out;

	&:hover {
		background: #7c4bc3;
		transition: all .1s ease-out;
		box-shadow: 0 0 0px 4px rgba(136, 87, 207, 0.25);

	}
}

div.marker-cluster span {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.marker {
	width: 10px;
	height: 10px;
	background: rgb(136, 87, 208);
	border-radius: 50%;
	transition: all .1s ease-out;

	&:hover, &.active {
		background: #7c4bc3;
		box-shadow: 0 0 0px 4px rgba(136, 87, 207, 0.25);
		transition: all .1s ease-out;
	}
}
