body {
	font-family: Helvetica;
}

.ibmD3-chart-wrapper {
	display: block;
	padding-left: 20px;
	padding-top: 20px;
	height: 400px;
	width: 600px;
	margin-bottom: 100px;
	/*margin: auto;*/
}
g.inner-wrap {
	width: 100%;
}
.chart-title {
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.ibmD3-chart-wrapper svg {
	overflow: visible;
}

svg circle:hover {
	filter: drop-shadow( -5px -5px 5px #000 );
}

.legend {
	float: right;
	margin: 10px 20px;
	color: #586464;
}
.legendBtn {
	display: inline-block;
	line-height: 10px;
	font-size: 12px;
}

.legendBtn span {
	display: inline;
}

.legend-circle {
	display: inherit;
	height: 10px;
	width: 10px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 5px 0 15px;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.chart-tooltip {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
	display: block;
	font-size: 12px;
	position: absolute;
	padding: 10px 20px 10px 10px;
	border-top: 2px solid #4178BE;
}

.chart-tooltip .close-btn {
	color: #586464;
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}
