@use '@carbon/styles/scss/components/modal';
@use '@carbon/styles/scss/components/data-table';
@use '@carbon/styles/scss/components/button';
@use '../globals';
@use '../tokens';

.#{globals.$prefix}--chart-holder {
	.#{globals.$prefix}--modal {
		&.is-visible {
			z-index: 99999;
		}

		.#{globals.$prefix}--modal-container {
			.#{globals.$prefix}--modal-header {
				&__label {
					margin-top: 0;
					margin-bottom: 0;
				}

				&__heading {
					margin-top: 0.5rem;
					margin-bottom: 1rem;
				}
			}

			.#{globals.$prefix}--modal-content {
				padding: 0;
				margin-bottom: 0;
				color-scheme: tokens.$color-scheme;

				table {
					position: relative;
					border-collapse: collapse;

					th {
						position: sticky;
						top: 0;
					}
				}
			}

			.#{globals.$prefix}--modal-footer {
				background-color: transparent;

				.#{globals.$prefix}--#{globals.$charts-prefix}-modal-footer-spacer {
					width: 50%;
				}
			}
		}
	}
}
