.#{$prefix}--#{$charts-prefix}--area-stacked {
	path.area {
		@if $ui-background == map-get($carbon--theme--g90, 'ui-background') {
			mix-blend-mode: screen;
		} @else if $ui-background == map-get($carbon--theme--g100, 'ui-background') {
			mix-blend-mode: screen;
		} @else {
			mix-blend-mode: multiply;
		}
		stroke-width: 1.5;
	}
}
