@use '@carbon/styles/scss/motion' as *;
@use '@carbon/styles/scss/theme' as *;

.#{$prefix}--#{$charts-prefix}--bubble {
	circle.dot.hovered {
		fill-opacity: 1;
		transition: all 0.1s;
		@include motion(standard, expressive);
	}

	circle.dot.unfilled {
		fill: $layer-01;
	}

	g.lines path.line {
		mix-blend-mode: multiply;
	}
}
