@use "@carbon/styles/scss/themes";
@use "@carbon/styles/scss/theme" as *;

.#{$prefix}--#{$charts-prefix}--choropleth {
	path.border {
		stroke: $border-subtle-selected-01;
	}

	path.border.missing-data {
		stroke: $text-placeholder;
		fill: $background;
	}
}
