.#{$prefix}--#{$charts-prefix}--heatmap {
	rect.raised {
		stroke: #ffffff !important;
		filter: drop-shadow(0px 0px 3px black);
	}

	rect.highlighter-hidden {
		visibility: hidden;
	}

	rect.shadow-column,
	rect.shadow-row {
		stroke: #ffffff;
		fill: white;
		stroke-width: 2px;
		filter: drop-shadow(0px 0px 5px black);
	}

	rect.highlight-column,
	rect.highlight-row {
		stroke: #ffffff;
		fill: none;
		stroke-width: 2px;
	}

	rect.null-state {
		stroke: transparent !important;
	}

	rect.heat {
		stroke-width: 0px;
	}

	@if $carbon--theme == $carbon--theme--white {
		rect.heat {
			stroke: #ffffff;
		}

		rect.null-state {
			fill: #f4f4f4;
		}
	}

	@if $carbon--theme == $carbon--theme--g10 {
		rect.heat {
			stroke: #f4f4f4;
		}

		rect.null-state {
			fill: #ffffff;
		}
	}

	@if $carbon--theme == $carbon--theme--g90 {
		rect.heat {
			stroke: #262626;
		}

		rect.null-state {
			fill: #161616;
		}
	}

	@if $carbon--theme == $carbon--theme--g100 {
		rect.heat {
			stroke: #161616;
		}

		rect.null-state {
			fill: #262626;
		}
	}
}
