.#{$prefix}--#{$charts-prefix}--meter {
	rect.container {
		fill: $ui-01;
	}

	rect.value {
		&.status--danger {
			fill: $support-01;
		}

		&.status--warning {
			fill: $support-03;
			stroke-width: 2px;
			stroke: #B28600;
		}

		&.status--success {
			fill: $support-02;
		}
	}

	line.border {
		stroke-width: 2;
		&.status--danger {
			stroke: darken($support-01, 10);
		}

		&.status--warning {
			display: none;
		}

		&.status--success {
			stroke: darken($support-02, 10);
		}
	}

	line.peak {
		stroke: $ui-05;
		stroke-width: 2px;
	}
}
