.#{$prefix}--#{$charts-prefix}--radar {
	.blobs path {
		stroke-width: 1.5px;
	}

	.y-axes path,
	.x-axes line {
		stroke-width: 1px;
		stroke: $ui-03;
	}

	.x-axes line.hovered {
		@if $ui-background == map-get($carbon--theme--g90, 'ui-background') {
			stroke: $carbon--white-0;
		} @else if
			$ui-background ==
			map-get($carbon--theme--g100, 'ui-background')
		{
			stroke: $carbon--white-0;
		} @else {
			stroke: $carbon--black-100;
		}
	}
}
