@use '@carbon/styles/scss/themes';
@use "@carbon/styles/scss/theme" as *;

.#{$prefix}--#{$charts-prefix}--radar {
	.blobs path {
		stroke-width: 1.5px;
	}

	.y-axes path,
	.x-axes line {
		stroke-width: 1px;
		stroke: $layer-accent-01;
	}

	.x-axes line.hovered {
		stroke: $layer-inverse-absolute;
	}
}
