@import './../vendor/@carbon/motion/scss/motion.scss';

.#{$prefix}--#{$charts-prefix}--scatter {
	circle.dot.hovered {
		fill-opacity: 1;
		transition: all 0.1s;
		@include carbon--motion(standard, expressive);
	}

	circle.dot.unfilled {
		fill: $ui-01;
		stroke-width: 1.5;
	}

	circle.dot.threshold-anomaly {
		stroke-width: 3;
	}

	g.lines path.line {
		mix-blend-mode: multiply;
	}
}

.#{$prefix}--#{$charts-prefix}--scatter.fade-in-on-chart-holder-mouseover {
	circle {
		opacity: 0 !important;
		transition: opacity 0.3s ease-out;
	}
}

.#{$prefix}--chart-holder:hover,
.#{$prefix}--chart-holder .#{$prefix}--#{$charts-prefix}--chart-wrapper:hover {
	.#{$prefix}--#{$charts-prefix}--scatter.fade-in-on-chart-holder-mouseover {
		circle {
			opacity: 1 !important;
			transition: opacity 0.3s ease-out;
		}
	}
}
