.#{$prefix}--#{$charts-prefix}--scatter-stacked {
	circle.dot.unfilled {
		fill: $ui-01;
		stroke-width: 1.5;
	}

	circle.dot.threshold-anomaly {
		stroke-width: 3;
	}
}

.#{$prefix}--#{$charts-prefix}--scatter-stacked.fade-in-on-chart-holder-mouseover {
	circle {
		opacity: 0 !important;
		transition: opacity 0.3s ease-out;
	}
}

.#{$prefix}--chart-holder:hover,
.#{$prefix}--chart-holder .#{$prefix}--#{$charts-prefix}--chart-wrapper:hover {
	.#{$prefix}--#{$charts-prefix}--scatter-stacked.fade-in-on-chart-holder-mouseover {
		circle {
			opacity: 1 !important;
			transition: opacity 0.3s ease-out;
		}
	}
}
