@import '@carbon/motion/scss/motion.scss';
@import "../../node_modules/@carbon/themes/scss/themes";

g.cc-scatter {
	circle.hovered {
		fill-opacity: 1;
		transition: all .1s;
		@include carbon--motion(standard, expressive);
	}

	g.lines path.line {
		mix-blend-mode: multiply;
	}
}


/////////////////////////////////////////////
///          Theme styles                ////
/////////////////////////////////////////////

.carbon--theme--white {
	g.cc-scatter {
		circle.dot {
			fill: $ui-01;
		}
	}
}

.carbon--theme--g10 {
	@include carbon--theme($carbon--theme--g10) {
		g.cc-scatter {
			circle.dot {
				fill: $ui-01;
			}
		}
	}
}

$gray100: #171717;
.carbon--theme--g90 {
	@include carbon--theme($carbon--theme--g90) {
		g.cc-scatter {
			circle.dot {
				fill: $gray100;
			}
		}
	}
}

.carbon--theme--g100 {
	@include carbon--theme($carbon--theme--g100) {
		g.cc-scatter {
			circle.dot {
				fill: $ui-01;
			}
			g.lines path.line {
				mix-blend-mode: unset;
			}
		}
	}
}

