@import './area';
@import './bubble';
@import './bullet';
@import './donut';
@import './line';
@import './scatter';
@import './meter';
@import './scatter-stacked';
@import './radar';
@import './tree';
@import './treemap';
@import './gauge';
@import './pie';
@import './lollipop';
@import './circle-pack';
@import './wordcloud';
@import './alluvial';
