@import './vendor/@carbon/type/scss/type';
@import './vendor/@carbon/type/scss/font-face/sans';
@import './vendor/@carbon/type/scss/font-face/sans-condensed';
@include carbon--font-face-sans();
@include carbon--font-face-sans-condensed();

.#{$prefix}--#{$charts-prefix}--chart-wrapper {
	font-family: carbon--font-family('sans-condensed');

	p {
		padding: 0;
		margin: 0;
		font-size: 12px;
		font-weight: carbon--font-weight('regular');
		color: $text-02;
	}

	text {
		font-size: 12px;
		font-weight: carbon--font-weight('regular');
		fill: $text-02;
	}

	g.gauge-numbers text.gauge-value-number {
		font-family: carbon--font-family('sans');
		font-weight: carbon--font-weight('light');
	}

	text.meter-title,
	text.percent-value {
		font-size: $carbon--base-font-size;
		font-family: carbon--font-family('sans');
	}

	text.meter-title {
		font-weight: carbon--font-weight('semibold');
	}
}
