@import './chart-feature-flags';

.#{$prefix}--#{$charts-prefix}--chart-wrapper {
	font-family: carbon--font-family('sans-condensed');

	p {
		padding: 0;
		margin: 0;
		font-size: 12px;
		font-weight: carbon--font-weight('regular');
		color: $text-secondary;
	}

	text {
		font-size: 12px;
		font-weight: carbon--font-weight('regular');
		fill: $text-secondary;
	}

	g.gauge-numbers text.gauge-value-number {
		font-family: carbon--font-family('sans');
		font-weight: carbon--font-weight('light');
	}

	text.meter-title,
	text.percent-value {
		font-size: $carbon--base-font-size;
		font-family: carbon--font-family('sans');
	}

	text.meter-title {
		font-weight: carbon--font-weight('semibold');
	}
}
