@import "@carbon/type/scss/type";
@import "@carbon/type/scss/font-face/mono";
@import "@carbon/type/scss/font-face/sans";

@include carbon--type-reset();
@include carbon--font-face-mono();
@include carbon--font-face-sans();

svg.#{$prefix}--#{$charts-prefix}--chart-svg {
	font-family: carbon--font-family("sans");

	text {
		font-size: 12px;
		font-weight: carbon--font-weight("regular");
		fill: $text-02;
	}
}
