$charts-prefix: 'cc';

// Custom dataviz palette colors
$carbon-dataviz-alert: #b28600;
$carbon-dataviz-yellow-10: #fcf4d6;

$css--reset: false;
$css--default-type: false;

// Carbon imports
@import './vendor/@carbon/colors/scss/colors';
@import './vendor/@carbon/type/scss/prefix';

@if variable-exists($name: 'carbon--theme') == false {
	@warn "$carbon--theme not found, or is undefined. \
	Either import the Carbon SCSS and set a theme or, if you're using Charts without Carbon, \
	import one of the styles-[theme name here].scss files";
}

@mixin default_transition {
	transition: all 0.1s ease-out;
}

// Internal
@import './mixins.scss';
@import './colors.scss';
@import './components/index.scss';
@import './graphs/index.scss';
@import './type';
@import './chart-holder';

.#{$prefix}--#{$charts-prefix}--chart-wrapper {
	overflow: visible;
}
