$charts-prefix: "cc";

// Carbon imports
@import "./vendor/@carbon/colors/scss/colors";

@if global-variable-exists($name: "carbon--theme") == false {
	@warn "$carbon--theme not found, or is undefined. \
Either import the Carbon SCSS and set a theme or, if you're using Charts without Carbon, \
import one of the styles-[theme name here].scss files";
}

// Internal
@import "./mixins.scss";
@import "./components/index.scss";
@import "./graphs/index.scss";
@import "./type";
@import "./chart-holder";

svg.#{$prefix}--#{$charts-prefix}--chart-svg {
	overflow: visible;
}
