$charts-prefix: 'cc';

// Custom dataviz palette colors
$carbon-dataviz-alert: #b28600;
$carbon-dataviz-yellow-10: #fcf4d6;

$css--reset: false;
$css--default-type: false;

$prefix: 'cds';

@use '@carbon/styles';
@use '@carbon/type';

// Carbon imports
// TODO-V11
@import '@carbon/colors/index.scss';
@import '@carbon/styles/scss/components/button/_tokens.scss';
// @use '@carbon/colors';

@mixin default_transition {
  transition: all 0.1s ease-out;
}

// Internal
@import './mixins.scss';
// @import './colors.scss';
@import './components/index.scss';
@import './graphs/index.scss';
@import './type';
@import './chart-holder';
@import './chart-feature-flags';

.#{$prefix}--#{$charts-prefix}--chart-wrapper {
  overflow: visible;
}
