@use '@carbon/styles/scss/type' as *;

@import 'carbon-components/scss/globals/scss/vars';
@import 'carbon-components/scss/globals/scss/_helper-mixins';

@import '@carbon/themes/scss/tokens';
@import '@carbon/layout/scss/spacing';

@import '@carbon/import-once/scss/index';

@mixin stacked-card {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 0;
	border-top: mini-units(0.25) solid $layer-accent-01;
	border-right: mini-units(0.25) solid $layer-accent-01;
	pointer-events: none;
}

@include exports('cc-card') {
	.#{$prefix}--#{$charts-prefix}--card {
		display: flex;
		position: relative;
		background-color: $layer-01;
		z-index: 1;
		box-sizing: border-box;
		font-family: font-family('sans');
		width: 100%;
		height: 100%;
		padding: $spacing-05 $spacing-04;
		border-left: mini-units(0.5) solid $border-inverse;
	}

	.#{$prefix}--#{$charts-prefix}--card--a,
	.#{$prefix}--#{$charts-prefix}--card--button {
		border-top: none;
		border-right: none;
		border-bottom: none;
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}

	.#{$prefix}--#{$charts-prefix}--card--button {
		font-family: inherit;
		text-align: left;
		width: 100%;
	}

	.#{$prefix}--#{$charts-prefix}--card--a:focus,
	.#{$prefix}--#{$charts-prefix}--card--a:hover,
	.#{$prefix}--#{$charts-prefix}--card--button:focus,
	.#{$prefix}--#{$charts-prefix}--card--button:hover {
		background-color: $background-hover;
	}

	.#{$prefix}--#{$charts-prefix}--card--a:focus,
	.#{$prefix}--#{$charts-prefix}--card--button:focus {
		@include focus-outline($type: outline);
	}

	.#{$prefix}--#{$charts-prefix}--card--stacked {
		&::before {
			@include stacked-card();
			left: mini-units(0.625);
			bottom: mini-units(0.625);
		}

		&::after {
			@include stacked-card();
			left: mini-units(1.375);
			bottom: mini-units(1.375);
		}
	}

	.#{$prefix}--#{$charts-prefix}--card__column {
		padding: 0 $spacing-02;
	}

	.#{$prefix}--#{$charts-prefix}--card__column--farside {
		margin-left: auto;
	}

	.#{$prefix}--#{$charts-prefix}--card__title {
		@include type-style($name: productive-heading-01);
		margin-bottom: 1px;
	}

	.#{$prefix}--#{$charts-prefix}--card__description {
		@include type-style($name: body-short-01);
	}

	.#{$prefix}--#{$charts-prefix}--card__label {
		display: block;
		@include type-style($name: label-01);
		color: $text-secondary;
		padding-top: $spacing-06;
	}
}
