.#{$prefix}--#{$charts-prefix}--chart-brush {
	// disable default d3 brush selection
	g.chart-brush {
		rect.selection {
			fill: none;
			fill-opacity: 0;
			stroke: none;
		}
	}
}

g.#{$prefix}--#{$charts-prefix}--chart-brush {
	rect.frontSelection {
		fill: $ui-03;
		fill-opacity: 0.3;
		stroke: $interactive-03;
	}
}
