@import './../vendor/carbon-components/scss/globals/scss/vars';
@import './../vendor/@carbon/themes/scss/tokens';
@import './../vendor/@carbon/layout/scss/spacing';
@import './../vendor/@carbon/type/scss/font-face/sans';
@import './../vendor/@carbon/elements/scss/import-once/import-once';
@import './../vendor/carbon-components/scss/globals/scss/_helper-mixins';

@include exports('cc-edge') {
	.#{$prefix}--#{$charts-prefix}--edge {
		fill: transparent;
	}

	.#{$prefix}--#{$charts-prefix}--edge__container {
		stroke-width: $spacing-06;
		stroke: transparent;
		stroke-dasharray: none;
	}

	.#{$prefix}--#{$charts-prefix}--edge__inner {
		stroke-width: carbon--mini-units(0.1875);
		stroke: $ui-05;
	}

	.#{$prefix}--#{$charts-prefix}--edge__outer {
		stroke-width: carbon--mini-units(0.3125);
		stroke: transparent;
	}

	.#{$prefix}--#{$charts-prefix}--edge:hover {
		.#{$prefix}--#{$charts-prefix}--edge__inner {
			stroke-width: carbon--mini-units(0.3125);
		}
	}

	.#{$prefix}--#{$charts-prefix}--edge--dash-sm {
		stroke-dasharray: carbon--mini-units(0.25) carbon--mini-units(0.5);
	}

	.#{$prefix}--#{$charts-prefix}--edge--dash-md {
		stroke-dasharray: carbon--mini-units(0.5) carbon--mini-units(0.5);
	}

	.#{$prefix}--#{$charts-prefix}--edge--dash-lg {
		stroke-dasharray: carbon--mini-units(1) carbon--mini-units(0.5);
	}

	.#{$prefix}--#{$charts-prefix}--edge--dash-xl {
		stroke-dasharray: carbon--mini-units(2) carbon--mini-units(0.5);
	}

	.#{$prefix}--#{$charts-prefix}--edge--tunnel {
		.#{$prefix}--#{$charts-prefix}--edge__outer {
			stroke: $ui-03;
			stroke-width: carbon--mini-units(0.75);
		}
	}

	.#{$prefix}--#{$charts-prefix}--edge--double {
		.#{$prefix}--#{$charts-prefix}--edge__inner {
			stroke: $ui-background;
		}

		.#{$prefix}--#{$charts-prefix}--edge__outer {
			stroke: $ui-05;
			stroke-width: carbon--mini-units(0.5625);
		}
	}
}
