@import 'carbon-components/scss/globals/scss/vars';
@import '@carbon/themes/scss/tokens';
@import '@carbon/layout/scss/spacing';
@import '@carbon/import-once/scss/index';
@import 'carbon-components/scss/globals/scss/_helper-mixins';

@include exports('cc-edge') {
	.#{$prefix}--#{$charts-prefix}--edge {
		fill: transparent;
	}

	.#{$prefix}--#{$charts-prefix}--edge__container {
		stroke-width: $spacing-06;
		stroke: transparent;
		stroke-dasharray: none;
	}

	.#{$prefix}--#{$charts-prefix}--edge__inner {
		stroke-width: carbon--mini-units(0.1875);
		stroke: $border-inverse;
	}

	.#{$prefix}--#{$charts-prefix}--edge__outer {
		stroke-width: carbon--mini-units(0.3125);
		stroke: transparent;
	}

	.#{$prefix}--#{$charts-prefix}--edge:hover {
		.#{$prefix}--#{$charts-prefix}--edge__inner {
			stroke-width: carbon--mini-units(0.3125);
		}
	}

	.#{$prefix}--#{$charts-prefix}--edge--dash-sm {
		stroke-dasharray: carbon--mini-units(0.25) carbon--mini-units(0.5);
	}

	.#{$prefix}--#{$charts-prefix}--edge--dash-md {
		stroke-dasharray: carbon--mini-units(0.5) carbon--mini-units(0.5);
	}

	.#{$prefix}--#{$charts-prefix}--edge--dash-lg {
		stroke-dasharray: carbon--mini-units(1) carbon--mini-units(0.5);
	}

	.#{$prefix}--#{$charts-prefix}--edge--dash-xl {
		stroke-dasharray: carbon--mini-units(2) carbon--mini-units(0.5);
	}

	.#{$prefix}--#{$charts-prefix}--edge--tunnel {
		.#{$prefix}--#{$charts-prefix}--edge__outer {
			stroke: $layer-accent-01;
			stroke-width: carbon--mini-units(0.75);
		}
	}

	.#{$prefix}--#{$charts-prefix}--edge--double {
		.#{$prefix}--#{$charts-prefix}--edge__inner {
			stroke: $background;
		}

		.#{$prefix}--#{$charts-prefix}--edge__outer {
			stroke: $border-inverse;
			stroke-width: carbon--mini-units(0.5625);
		}
	}
}
