@import "@carbon/themes/scss/themes";
@import "@carbon/colors/scss/colors";

.cc-grid {
	g.x.grid,
	g.y.grid {
		g.tick line {
			pointer-events: none;
			stroke-width: 1px;
		}
		g.tick.active line {
			stroke-dasharray: 2px;
		}
	}
}

/////////////////////////////////////////////
///          Theme styles                ////
/////////////////////////////////////////////

.carbon--theme--white {
	.cc-grid {
		rect.chart-grid-backdrop {
			fill: $ui-01;
		}

		g.x.grid,
		g.y.grid {
			g.tick line {
				stroke: $ui-03;
			}

			g.tick.active line {
				stroke: $focus;
			}
		}
	}
}

.carbon--theme--g10 {
	@include carbon--theme($carbon--theme--g10) {
		.cc-grid {
			rect.chart-grid-backdrop {
				fill: $ui-01;
			}

			g.x.grid,
			g.y.grid {
				g.tick line {
					stroke: $ui-03;
				}

				g.tick.active line {
					stroke: $focus;
				}
			}
		}
	}
}

.carbon--theme--g90 {
	@include carbon--theme($carbon--theme--g90) {
		.cc-grid {
			rect.chart-grid-backdrop {
				fill: $carbon--gray-100;
			}

			g.x.grid,
			g.y.grid {
				g.tick line {
					stroke: $ui-01;
				}

				g.tick.active line {
					stroke: $focus;
				}
			}
		}
	}
}

.carbon--theme--g100 {
	@include carbon--theme($carbon--theme--g100) {
		.cc-grid {
			rect.chart-grid-backdrop {
				fill: $carbon--black-100;
			}

			g.x.grid,
			g.y.grid {
				g.tick line {
					stroke: $ui-01;
				}

				g.tick.active line {
					stroke: $focus;
				}
			}
		}
	}
}

