@use "@carbon/styles/scss/themes";
@use "@carbon/styles/scss/theme" as *;

.#{$prefix}--#{$charts-prefix}--grid {
	rect.chart-grid-backdrop {
		fill: $grid-bg;
	}

	rect.chart-grid-backdrop.stroked {
		stroke: $layer-accent-01;
	}

	rect.stroke {
		stroke: $layer-accent-01;
	}

	g.x.grid g.tick,
	g.y.grid g.tick {
		line {
			pointer-events: none;
			stroke-width: 1px;
			stroke: $layer-accent-01;
		}

		&.active line {
			stroke-dasharray: 2px;
			stroke: $focus;
		}
	}
}
