.#{$prefix}--#{$charts-prefix}--grid {
	line.ruler {
		stroke: #009bef;
		stroke-width: 1px;
		stroke-dasharray: 2;
		pointer-events: none;
	}

	text.axis-tooltip-text {
		fill: white;
		alignment-baseline: middle;
		text-anchor: middle;
	}

	rect.chart-grid-backdrop {
		@if $carbon--theme == $carbon--theme--g10 {
			fill: $ui-01;
		} @else if $carbon--theme == $carbon--theme--g90 {
			fill: $carbon--gray-100;
		} @else {
			fill: $ui-background;
		}
		stroke: $ui-03;
	}

	g.x.grid g.tick,
	g.y.grid g.tick {
		line {
			pointer-events: none;
			stroke-width: 1px;
			stroke: $ui-03;
		}

		&.active line {
			stroke-dasharray: 2px;
			stroke: $focus;
		}
	}
}
