@import "@carbon/themes/scss/themes";

/////////////////////////////////////////////
///          Theme styles                ////
/////////////////////////////////////////////
.carbon--theme--white {
	.cc-horizontal-zero-line {
		line.domain {
			stroke: $ui-04;
		}
	}
}

.carbon--theme--g10 {
	@include carbon--theme($carbon--theme--g10) {
		.cc-horizontal-zero-line {
			line.domain {
				stroke: $ui-04;
			}
		}
	}
}

.carbon--theme--g90 {
	@include carbon--theme($carbon--theme--g90) {
		.cc-horizontal-zero-line {
			line.domain {
				stroke: $ui-04;
			}
		}

	}
}

.carbon--theme--g100 {
	@include carbon--theme($carbon--theme--g100) {
		.cc-horizontal-zero-line {
			line.domain {
				stroke: $ui-04;
			}
		}

	}
}
