@import "@carbon/themes/scss/themes";
@import "@carbon/colors/scss/colors";

g.cc-legend {
	user-select: none;

	g.legend-item {
		rect.checkbox {
			stroke-width: 1px;
			stroke-opacity: 1;

			&:not(.active) ~ g.check {
				display: none;
			}
		}

		rect.hover-stroke {
			fill: none;
			stroke: $carbon--blue-60;
			stroke-width: 2;
		}

		g.check > svg path {
			fill: $ui-background;
			stroke: $ui-background;
		}

		text {
			font-size: 15px;
		}
	}

	&.clickable {
		g.legend-item:hover {
			cursor: pointer;
		}
	}
}

/////////////////////////////////////////////
///          Theme styles                ////
/////////////////////////////////////////////
.carbon--theme--white g.cc-legend {
	g.legend-item {
		rect.checkbox {
			stroke: $ui-background;

			&:not(.active) {
				stroke: $text-02;
				fill: $ui-background;
			}
		}

		text {
			fill: $text-02;
		}
	}
}

.carbon--theme--g10 g.cc-legend {
	@include carbon--theme($carbon--theme--g10) {
		g.legend-item {
			rect.checkbox {
				stroke: $ui-background;

				&:not(.active) {
					stroke: $text-02;
					fill: $ui-background;
				}
			}

			text {
				fill: $text-02;
			}
		}
	}
}

.carbon--theme--g90 g.cc-legend {
	@include carbon--theme($carbon--theme--g90) {
		g.legend-item {
			rect.checkbox {
				stroke: $ui-background;

				&:not(.active) {
					stroke: $text-02;
					fill: $ui-background;
				}
			}

			text {
				fill: $text-02;
			}
		}
	}
}

.carbon--theme--g100 g.cc-legend {
	@include carbon--theme($carbon--theme--g100) {
		g.legend-item {
			rect.checkbox {
				stroke: $ui-background;

				&:not(.active) {
					stroke: $text-02;
					fill: $ui-background;
				}
			}

			text {
				fill: $text-02;
			}
		}
	}
}
