div.#{$prefix}--#{$charts-prefix}--legend {
	display: flex;
	user-select: none;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -6px;

	div.legend-item {
		display: flex;
		align-items: center;
		margin: 6px 6px;

		div.checkbox {
			width: 13px;
			height: 13px;
			margin-right: 4px;
			border-radius: 2px;
			border: solid 1px $ui-background;
			box-shadow: 0 0 0 2px transparent;

			&:not(.active) {
				border-color: $text-02;
				background: $ui-background;
			}

			svg {
				display: none;
				vertical-align: text-top;
				fill: $ui-background;
				stroke: $ui-background;
			}
		}

		p {
			font-size: 12px;
			fill: $text-02;
		}
	}

	&.center-aligned {
		justify-content: center;
	}

	&.has-deactivated-items {
		div.legend-item {
			div.checkbox {
				svg {
					display: block;
				}
			}
		}
	}

	&.vertical {
		margin: -6px -6px;
		flex-direction: column;

		div.legend-item {
			margin-right: 0;
			margin-bottom: 12px;
		}
	}

	&.clickable div.legend-item:hover {
		cursor: pointer;

		div.checkbox {
			border: solid 1px $ui-background;
			box-shadow: 0 0 0 2px $carbon--blue-60;

			&:not(.active) {
				border-color: $text-02;
			}
		}
	}
}
