@import "../../node_modules/@carbon/themes/scss/themes";

g.cc-legend {
	user-select: none;

	g.legend-item {
		rect.checkbox {
			stroke-width: 1px;
			stroke-opacity: 1;

			&:not(.active) ~ g.check {
				display: none;
			}
		}

		g.check > svg path {
			fill: $ui-background;
			stroke: $ui-background;
		}
	}

	&.clickable {
		g.legend-item:hover {
			cursor: pointer;
		}
	}
}


/////////////////////////////////////////////
///          Theme styles                ////
/////////////////////////////////////////////

.carbon--theme--white {
	g.cc-legend {
		g.legend-item {
			rect.checkbox {
				stroke: $ui-background;

				&:not(.active) {
					stroke: $text-02;
					fill: $ui-background;
				}
			}
		}
	}
}

.carbon--theme--g10 {
	@include carbon--theme($carbon--theme--g10) {
		g.cc-legend {
			g.legend-item {
				rect.checkbox {
					stroke: $ui-background;

					&:not(.active) {
						stroke: $text-02;
						fill: $ui-background;
					}
				}
			}
		}
	}
}

.carbon--theme--g90 {
	@include carbon--theme($carbon--theme--g90) {
		g.cc-legend {
			g.legend-item {
				rect.checkbox {
					stroke: $ui-background;

					&:not(.active) {
						stroke: $text-02;
						fill: $ui-background;
					}
				}
			}
		}
	}
}

.carbon--theme--g100 {
	@include carbon--theme($carbon--theme--g100) {
		g.cc-legend {
			g.legend-item {
				rect.checkbox {
					stroke: $ui-background;

					&:not(.active) {
						stroke: $text-02;
						fill: $ui-background;
					}
				}
			}
		}
	}
}

