@import "./../vendor/@carbon/type/scss/type";

.#{$prefix}--#{$charts-prefix}--meter-title {
	text.meter-title, text.percent-value {
		fill: $text-01;
		font-size: $carbon--base-font-size;
		font-family: carbon--font-family("sans");
	}

	text.meter-title {
		font-weight: carbon--font-weight("semibold");
	}

	g.status-indicator {
		path.status--danger {
			fill: $support-01;
		}

		path.status--warning {
			fill: $support-03;
		}

		path.status--success {
			fill: $support-02;
		}

		path.innerFill {
			fill: rgba($carbon--black-100, 1);
		}
	}
}
