.#{$prefix}--#{$charts-prefix}--ruler,
.#{$prefix}--#{$charts-prefix}--ruler-binned {
	line.ruler-line {
		@if $ui-background == map-get($carbon--theme--g90, 'ui-background') {
			stroke: $carbon--white-0;
		} @else if
			$ui-background ==
			map-get($carbon--theme--g100, 'ui-background')
		{
			stroke: $carbon--white-0;
		} @else {
			stroke: $carbon--black-100;
		}

		stroke-width: 1px;
		stroke-dasharray: 2;
		pointer-events: none;
	}
}
