.#{$prefix}--#{$charts-prefix}--skeleton {
	////////////////////////////////
	// skeleton lines
	////////////////////////////////
	// same color of grid rect
	rect.chart-skeleton-backdrop {
		@if $carbon--theme == $carbon--theme--g10 {
			fill: $ui-01;
		} @else if $carbon--theme == $carbon--theme--g90 {
			fill: $carbon--gray-100;
		} @else {
			fill: $ui-background;
		}
		// apply shimmer on skeleton rect stroke
		stroke: url(#shimmer-lines);
	}
	
	g.x.skeleton g.tick,
	g.y.skeleton g.tick {
		line {
			// pointer-events: none;
			stroke-width: 1px;
			stroke: url(#shimmer-lines); // apply shimmer on skeleton lines
		}
	}

	////////////////////////////////
	// skeleton areas
	////////////////////////////////
	.skeleton-area-shape {
		fill: url(#shimmer-areas);
	}
}

////////////////////////////////
// shimmer effects
////////////////////////////////
// style for shimmer lines
#shimmer-lines {
	.stop-bg-shimmer {
		stop-color: $ui-03; // same color of grid lines
	}
	
	.stop-shimmer {
		stop-color: white;
	}
}

// style for shimmer areas
#shimmer-areas {
	.stop-bg-shimmer {
		stop-color: rgba(127, 127, 127, 0.1);
	}

	.stop-shimmer {
		stop-color: rgba(255, 255, 255, 0.1);
	}
}
