.#{$prefix}--#{$charts-prefix}--skeleton {
	// same color of grid rect
	rect.chart-skeleton-backdrop {
		@if $carbon--theme == $carbon--theme--g10 {
			fill: $ui-01;
		} @else if $carbon--theme == $carbon--theme--g90 {
			fill: $carbon--gray-100;
		} @else {
			fill: $ui-background;
		}
		// apply shimmer on skeleton rect stroke
		stroke: url(#shimmer);
	}

	g.x.skeleton g.tick,
	g.y.skeleton g.tick {
		line {
			// pointer-events: none;
			stroke-width: 1px;
			stroke: url(#shimmer); // apply shimmer on skeleton lines
		}
	}
}

#shimmer {
	.shimmer-color {
		stop-color: white;
	}
	
	.background-shimmer-color {
		stop-color: $ui-03; // same color of grid lines
	}
}
