@import './../vendor/@carbon/type/scss/type';

.#{$prefix}--#{$charts-prefix}--title {
	p.title {
		color: $text-01;
		font-size: 16px;
		font-family: carbon--font-family('sans');
		font-weight: carbon--font-weight('semibold');
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 15px;
	}
}

.layout-child.title {
	height: unset !important;
	overflow: hidden;
}
