@import "./../vendor/@carbon/motion/scss/motion.scss";
@import "./../vendor/@carbon/type/scss/type";
@import "./../vendor/@carbon/type/scss/font-face/mono";
@import "./../vendor/@carbon/type/scss/font-face/sans";
@import "./../vendor/carbon-components/scss/components/overflow-menu/overflow-menu";

g.#{$prefix}--#{$charts-prefix}--tool-bar {
	@include carbon--motion(standard, expressive);
	rect.icon-zoom {
		fill: transparent;
		cursor: pointer;
	}

	rect.icon-zoom:hover {
		cursor: pointer;
		pointer-events: visible;
	}

	polygon {
		fill: $icon-02;
	}

	svg#icon-zoomOut rect.icon-zoomOut {
		fill: $icon-02;
	}

	path {
		fill: $icon-02;
	}

	svg#toolbar-overflow-menu-icon {
		fill: $icon-02;
		cursor: pointer;
	}

	rect.icon-overflow-menu {
		fill: transparent;
		cursor: pointer;
	}

	rect.icon-zoomInRect {
		width: 30px;
		height: 30px;
		fill: transparent;
		cursor: pointer;
	}

	rect.icon-zoomOutRect {
		width: 30px;
		height: 30px;
		fill: transparent;
		cursor: pointer;
	}

	rect.icon-overflowRect {
		width: 30px;
		height: 30px;
		fill: transparent;
		cursor: pointer;
	}

	rect.icon-zoomInRect:hover {
		width: 30px;
		height: 30px;
		cursor: pointer;
		pointer-events: visible;
		fill: $ui-02;
		opacity: 0.3;
	}

	rect.icon-zoomOutRect:hover {
		width: 30px;
		height: 30px;
		cursor: pointer;
		pointer-events: visible;
		fill: $ui-02;
		opacity: 0.3;
	}
	rect.icon-overflowRect:hover {
		width: 30px;
		height: 30px;
		cursor: pointer;
		pointer-events: visible;
		fill: $ui-02;
		opacity: 0.3;
	}
	
}

@include overflow-menu;