@use '@carbon/styles/scss/theme' as *;

.#{$prefix}--#{$charts-prefix}--zoom-bar {
	rect.zoom-bg {
		fill: $background;
		stroke: $layer-01;
	}

	rect.zoom-slider-bg {
		fill: $layer-01;
	}

	rect.zoom-slider-selected-area {
		fill: $icon-secondary;
	}

	path.zoom-bg-baseline {
		stroke: $border-strong-01;
		stroke-width: 2;
	}

	path.zoom-graph-area {
		fill: $layer-accent-01;
		stroke: $border-strong-01;
		stroke-width: 1;
	}

	path.zoom-graph-area-unselected {
		fill: $layer-01;
		stroke: none;
	}

	g.zoom-bar-brush {
		rect.handle {
			fill: $icon-secondary;
		}

		rect.handle-bar {
			fill: $layer-02;
		}

		// clear d3.brush selection style
		rect.selection {
			fill: none;
			stroke: none;
		}
	}

	rect[class^='highlight-'] {
		fill: $magenta-50;
		stroke: $magenta-50;
	}
}
