.chart-type-selection {
	display: inline;
	margin-bottom: 20px;
	line-height: 50px;
	li {
		color: white;
		cursor: pointer;
		background-color: #009BEF;
		display: inline;
		padding: 5px 10px;
		margin: 5px;
		min-width: 50px;
	}
	.active {
		background-color: #FFB000;
	}
	.disabled {
		background-color: #959595;
		cursor: not-allowed;
	}
}

.resizable {
  overflow: scroll;
  resize: both;
}
.demo-title {
	margin-top: 20px;
}
.chart-holder {
	border: 1px solid #ECEEEF;
	box-shadow: 1px 1px 2px grey;
	margin: 30px auto;
	display: block;
	padding: 20px 30px;
	height: 500px;
	width: 50%;
	position: relative;
	h3 {
		border-bottom: 1px solid lightgray;
		margin: 0;
	}

	svg {
		.inner-wrap {
			width: 100%;
		}
		circle:hover {
			filter: drop-shadow( -5px -5px 5px #000 );
		}
	}
}

.chart-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
