$default_transition: all .1s ease-out;

@import "../node_modules/prismjs/themes/prism.css";

html, body { margin: 0; }

header.m-demo-header {
	margin-bottom: 20px;
	padding: 50px 0;
	text-align: left;

	div {
		width: 80%;
		max-width: 800px;
		margin: auto;

		h1 {
			margin-bottom: 5px;
		}
	}
}

.chart-type-selection {
	display: inline;
	line-height: 50px;
	li {
		color: white;
		cursor: pointer;
		background-color: #009BEF;
		display: inline;
		padding: 5px 10px;
		margin: 5px;
		min-width: 50px;
	}
	.active {
		background-color: #FFB000;
	}
	.disabled {
		background-color: #959595;
		cursor: not-allowed;
	}
}

.resizable {
	resize: both;
}
.demo-title {
	margin-top: 20px;
}
.chart-holder {
	border: 1px solid rgba(24, 62, 117, 0.2);
	box-shadow: 0 15px 34px -11px rgba(22, 56, 107, 0.1);
	margin: 0 auto;
	display: block;
	padding: 30px;
	height: 500px;
	min-width: 300px;
	max-width: 800px;
	position: relative;
	transition: box-shadow .1s ease-out;
	// tmp
	overflow: hidden;
	resize: both;
	//

	h3 {
		border-bottom: 1px solid lightgray;
		margin: 0;
	}

	&:hover {
		box-shadow: 0 15px 45px -11px rgba(22, 56, 107, 0.15);
		transition: box-shadow .1s ease-out;
	}
}

.chart-title {
	display: block;
	font-size: 16px;
	font-weight: bold;
}

#classy-bar-chart-holder {
	overflow: hidden;
	resize: both;
}

div.code {
	display: block;
	min-width: 300px;
	max-width: 800px;
	margin: auto;
	margin-bottom: 60px;

	ul[role="tablist"] li:first-child {
		margin-left: 0;
	}

	div.tabs-panel {		
		pre.demo-code {
			overflow: scroll;
		}
	}
}