body {
	margin: 20px;
}

.chart-type-selection {
	display: inline;
	line-height: 50px;
	li {
		color: white;
		cursor: pointer;
		background-color: #009BEF;
		display: inline;
		padding: 5px 10px;
		margin: 5px;
		min-width: 50px;
	}
	.active {
		background-color: #FFB000;
	}
	.disabled {
		background-color: #959595;
		cursor: not-allowed;
	}
}

.resizable {
	resize: both;
}
.demo-title {
	margin-top: 20px;
}
.chart-holder {
	border: 1px solid #ECEEEF;
	box-shadow: 1px 1px 2px grey;
	margin: 30px auto;
	display: block;
	padding: 20px 30px;
	height: 500px;
	min-width: 300px;
	max-width: 800px;
	position: relative;
	// tmp
	overflow: hidden;
	resize: both;
	//
	h3 {
		border-bottom: 1px solid lightgray;
		margin: 0;
	}
}

.chart-title {
	display: block;
	font-size: 16px;
	font-weight: bold;
}

#classy-bar-chart-holder {
	overflow: hidden;
	resize: both;
}
