.chart-type-selection {
	display: inline;
	margin-bottom: 20px;
	line-height: 50px;
	li {
		color: white;
		cursor: pointer;
		background-color: #009BEF;
		display: inline;
		padding: 5px 10px;
		margin: 5px;
		min-width: 50px;
	}
	.active {
		background-color: #FFB000;
	}
	.disabled {
		background-color: #959595;
		cursor: not-allowed;
	}
}

.resizable {
  overflow: scroll;
  resize: both;
}
.demo-title {
	margin-top: 20px;
}
