body {
	overflow-y: scroll;
}

div.container {
	padding: 30px;
}

.marginTop {
	margin-top: 10px;

	&-15 {
		margin-top: 15px;
	}

	&-30 {
		margin-top: 30px;
	}
}

h3 {
	font-weight: 700;

	b {
		margin-right: 10px;
	}

	.component-name {
		font-size: 19px;
		padding: 16px 10px;
		border-radius: .8rem;
	}
}

p.props {
	b {
		font-weight: 700;
	}
}

// Replace with Carbon .scss imports
.bx--snippet--multi {
	background-color: black;
	color: white;

	pre {
		-moz-tab-size: 4;
		tab-size: 4;
	}

	.bx--snippet-container pre::after {
		display: none;
	}

	.token.tag {
		color: #6ea6ff;
	}

	.token.attr-name {
		color: #92eeee;
	}

	.token.attr-value {
		color: #bb8eff;
	}
}

.bx--snippet--multi .bx--snippet-container pre code {
	font-size: 14px;
}

.bx--snippet--multi.bx--snippet--expand .bx--snippet-container, .bx--snippet--multi.bx--snippet--expand .bx--snippet-container pre {
	padding-bottom: 0;
}
