div.chart-bar-new {
	svg.chart-svg {
		g.y.axis {
			path.domain {
				stroke: none;
			}
		}

		g.x.axis {
			path.domain {
				stroke: #959595;
				stroke-width: 2;
			}
		}

		g.x.grid, g.y.grid {
			g.tick line {
				stroke: rgb(236, 238, 239);
			}
		}
	}
}
