p {
  margin: 1rem 0 1rem 0;
}

h2 {
  // font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

// Introduction page's chart buttons
.bx--btn--ghost {
  background-color: white;
}

.bx--tabs {
  margin-bottom: 1rem;
}

// Don't add padding to <TabContent> component
.bx--tab-content {
  padding: 0;
}

.bx--snippet {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  color: #fff;
  background-color: black;
  border-radius: 0.25rem;
}

.bx--copy-btn {
  background-color: black;
  color: #fff;
  // border: 1px solid black !important;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.bx--copy-btn:hover {
  background-color: #393939;
}

.bx--snippet__icon {
  fill: #fff;
}

// .bx--copy-btn:hover>svg {
//  fill: black;
// }

.bx--snippet--multi .bx--snippet-container pre {
    padding-bottom: 0;
}

// .bx--grid {
//   padding-left: 0;
// }

// OrderedList is only used for legends
.bx--list--ordered--native {
  margin-left: 2rem;
  margin-top: 4rem;
}